.root {
    -fx-background-color: #66ccff;
}

.label {
    -fx-font-family: "Comic Sans Ms";
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;

    -fx-background-color: #cc9966;
    -fx-border-color: #996666;
    -fx-padding: 3;
}


#top-label {
    -fx-font-size: 18;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-background-radius: 20px 20px 20px 20px;
}

#bottom-label {
    -fx-font-size: 14;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-background-radius: 20px 20px 20px 20px;
}

#player1-label {
    -fx-font-size: 14;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-background-radius: 10px 10px 10px 10px;
}

#player1CardDescription-label {
    -fx-font-size: 14;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-background-radius: 20px 20px 20px 20px;
}

#player2-label {
    -fx-font-size: 14;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-background-radius: 10px 10px 10px 10px;
}

#player3-label {
    -fx-font-size: 14;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-background-radius: 10px 10px 10px 10px;
}

#decision-button {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.40, 10, 10);
}

#decision-button:hover {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.65, 10, 10);
}

#decision-button:pressed {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.65, 10, 10);
}
