.root{
    -fx-background-size: 100% 100%;
}

#Apollo-pane {
    -fx-background-image: url("/images/card_descriptions/Apollo_description.png");
}

#Ares-pane {
    -fx-background-image: url("/images/card_descriptions/Ares_description.png");
}

#Artemis-pane {
    -fx-background-image: url("/images/card_descriptions/Artemis_description.png");
}

#Athena-pane {
    -fx-background-image: url("/images/card_descriptions/Athena_descrption.png");
}

#Atlas-pane {
    -fx-background-image: url("/images/card_descriptions/Atlas_description.png");
}

#Charon-pane {
    -fx-background-image: url("/images/card_descriptions/Charon_description.png");
}

#Chronus-pane {
    -fx-background-image: url("/images/card_descriptions/Chronus_description.png");
}

#Demeter-pane {
    -fx-background-image: url("/images/card_descriptions/Demeter_description.png");
}

#Hephaestus-pane {
    -fx-background-image: url("/images/card_descriptions/Hephaestus_description.png");
}

#Minotaur-pane {
    -fx-background-image: url("/images/card_descriptions/Minotaur_description.png");
}

#Pan-pane {
    -fx-background-image: url("/images/card_descriptions/Pan_description.png");
}

#Prometheus-pane {
    -fx-background-image: url("/images/card_descriptions/Prometheus_description.png");
}

#Triton-pane {
    -fx-background-image: url("/images/card_descriptions/Triton_description.png");
}

#Zeus-pane {
    -fx-background-image: url("/images/card_descriptions/Zeus_description.png");
}