/* change the font to the entire screen */
* {
    -fx-font-family: "Comic Sans Ms";
}


/* id selector */
#play-image:hover {
    -fx-effect: dropshadow(three-pass-box, blue, 50, 0, 0, 0);
}


#play-image:pressed {
    -fx-effect: dropshadow(three-pass-box, lawngreen, 50, 0, 0, 0);
}
