/* change the font to the entire screen */
* {
    -fx-font-family: "Comic Sans Ms";
}

.textField {
    -fx-font-size: 15pt
}


.choice-button {
    -fx-font-size: 15pt
}


/* selector for the root container (Pane) */
.root {
    -fx-background-image: url("../../images/others/santorini_cover_transparent.png") no-repeat center center fixed;
    -fx-background-size: 100% 100%;
}


/* class selector */
.confirm-button {
    -fx-text-fill: #0251fc;
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-color: #3f3f3f;
    -fx-border-radius: 15;
    /* vertical and horizontal padding */
    -fx-padding: 5 10;
    -fx-font-size: 12pt;
}


.confirm-button:hover {
    -fx-background-color: #d7f3ff;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
    -fx-font-size: 12pt;
}


.confirm-button:pressed {
    -fx-effect: dropshadow(three-pass-box, blue, 10, 0, 0, 0);
}


.arrow:hover {
    -fx-effect: dropshadow(three-pass-box, lightblue, 50, 0, 0, 0);
}


.arrow:pressed {
    -fx-effect: dropshadow(three-pass-box, blue, 50, 0, 0, 0);
}


#confirm-image:hover {
    -fx-effect: dropshadow(three-pass-box, lightblue, 50, 0, 0, 0);
}


#confirm-image:pressed {
    -fx-effect: dropshadow(three-pass-box, lawngreen, 50, 0, 0, 0);
}


.exit-image {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
}


.exit-image:hover {
    -fx-effect: dropshadow(three-pass-box, black, 50, 0, 0, 0);
}


.exit-image:pressed {
    -fx-effect: dropshadow(three-pass-box, blue, 50, 0, 0, 0);
}


.info-label {
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: rgba(204, 153, 102, 0.8);
    -fx-border-color: #996666;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-padding: 5;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

}